* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2d5986;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #153554;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: ivory;
  margin: 0;
  display:inline;
}

header a {
  text-decoration: none;
  color: ivory;
}
header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #153554;
  width: 100%;
  padding: 40px 35px;

}
footer h2 {
  color: ivory;
  font-size: 30px;
  margin: 0;
}

section {
  padding: 60px;
}

.landing-page {
  background-image: url("../images/landingPage.jpg");
  background-size: cover;
  background-position: middle;
  height: 85vh;
  position: relative;
}

.login-form {
  /* border: #2d5986 solid; */
  padding: 20px;
  width: 500px;
  background-color: rgba(240,248,255,0.9);
  position: absolute;
  top: 20%;
  left:10%;
}

.login-form h2 {
  padding-bottom: 30px;
  margin: 0;
  font-weight: normal;
  /* font-size: 24px; */
}

.login-input {
  display: block;
  width: 100%;
  padding: 7px 15px;
  font-size: 16px;
  margin-bottom:1rem;
  border: 1px #153554 solid;
}

.login-form button {
  background-color: #153554;
  color: ivory;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 7px 0;
}

#failed-login p {
  color: red;
  margin-top: 1rem;
}