* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2d5986;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #153554;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: ivory;
  margin: 0;
  display:inline;
}

header a {
  text-decoration: none;
  color: ivory;
}
header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #153554;
  width: 100%;
  padding: 40px 35px;

}
footer h2 {
  color: ivory;
  font-size: 30px;
  margin: 0;
}

section {
  margin: 60px;
}

.landing-page {
  background-image: url("../images/landingPage.jpg");
  background-size: cover;
  background-position: middle;
  height: 85vh;
  position: relative;
  margin: 0;
}

/* Start login form style */
.login-form {
  /* border: #2d5986 solid; */
  padding: 20px;
  width: 500px;
  background-color: rgba(240,248,255,0.9);
  position: absolute;
  top: 20%;
  left:10%;
}

.login-form h2 {
  padding-bottom: 30px;
  margin: 0;
  font-weight: normal;
  /* font-size: 24px; */
}

.login-input {
  display: block;
  width: 100%;
  padding: 7px 15px;
  font-size: 16px;
  margin-bottom:1rem;
  border: 1px #153554 solid;
}

.login-form button {
  background-color: #153554;
  color: ivory;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 7px 0;
}

#failed-login p {
  color: red;
  margin-top: 1rem;
}
/* End login form style */

/* Start reimbursement-table style */
.table-overflow-wrapper {
  overflow-x: auto;
  margin: 25px 0;
}

.reimbursement-table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9rem;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}

.reimbursement-table thead tr {
  background-color: #153554;
  color: ivory;
  text-align: left;
  font-weight: bold;
}

.reimbursement-table th,
.reimbursement-table td {
  padding: 12px 15px;
}

.reimbursement-table tbody tr {
  border-bottom: 1px solid rgba(21, 53, 84,0.5);
}

.reimbursement-table tbody tr:last-of-type {
  border-bottom: 2px solid #153554;
}

.reimbursement-table button {
  background-color: transparent;
  color:#2d5986;
  /* width: 100%; */
  border: none;
  font-size: 0.9rem;
  cursor:pointer;
}

.resolved {
  background-color: #f3f3f3;
}

.resolved button {
  cursor: not-allowed;
}
/* Start reimbursement-table style */

/* Start new reimbursement form style */
.reimbursement-form {
  padding: 20px;
  width: 500px;
  background-color: rgba(240,248,255,0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.reimbursement-form h2 {
  padding-bottom: 30px;
  margin: 0;
  font-weight: normal;
  /* font-size: 24px; */
}

.reimb-input {
  display: block;
  width: 100%;
  padding: 7px 15px;
  font-size: 16px;
  margin-bottom:1rem;
  border: 1px #153554 solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.reimbursement-form button {
  background-color: #153554;
  color: ivory;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 7px 0;
}
.reimbursement-form textarea{
  padding: 10px;
  display: block;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  margin-bottom: 1rem;
}
#failed-submission p {
  color: red;
  margin-top: 1rem;
}
/* End new reimbursement form style */

#status-search {
  margin-top:20px;
  padding: 7px 15px;
  font-size: 1rem;
  border: 1px #153554 solid;
}